# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Python compiled
*.pyc

# Compiled Java classes
*.class
/runtime/java/treelite4j/target/

# Auxiliary Java files
/runtime/java/treelite4j/.classpath
/runtime/java/treelite4j/.project
/runtime/java/treelite4j/.settings/
/runtime/java/treelite4j/coverage.info

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# build folder
/build/
/python/dist/
/python/build/
/python/treelite.egg-info/
/runtime/python/dist/
/runtime/python/build/
/runtime/python/treelite_runtime.egg-info/

# Executables
*.exe
*.out
*.app
/treelite

# Mac system file
.DS_Store

# Python wheel binaries
/python/dist/

# Python cache
__pycache__

# symbol directories
*.dSYM/

# Project files
/runtime/python/.idea/
/python/.idea/
/tests/python/.idea/
/.idea/
/.hypothesis
/lint.py
