include treelite_runtime/VERSION
include treelite_runtime/CMakeLists.txt

recursive-include treelite_runtime *
recursive-include treelite_runtime/cmake *
recursive-include treelite_runtime/include *
recursive-include treelite_runtime/src *
recursive-include treelite_runtime/lib *

global-exclude *.py[oc]
